#empty-card {
  display: none;
}

body {
  background-color: aqua;
}


#big-black-box {
  background-color: orangered;
  font-size: 2vh;
  color: cornsilk;
  text-align: center;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}


.boxy {
  background-color: green;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  border-radius: 2rem;
  padding: 20px;
  height: 40vh;
  width: 40vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.card-name {
  font-size: 0.9rem;
  text-transform: uppercase;
}


.card-img {
  height: 80%;
  width: 70%;
}


.card-occupation {
  font-size: 0.7rem;
}




