#big-black-box {
    background-color: orangered;

    font-size: 2vh;
    color: cornsilk;
    text-align: center;
}

.card {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 20vh;
    width: 20vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .card-title {
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
  }