#empty-card {
  display: none;
}

body {
  background-color: beige;
}

#big-black-box {
  background-color: burlywood;
  font-size: 2vh;
  color: cornsilk;
  text-align: center;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.boxy {
  background-color: orange;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  border-radius: 2rem;
  padding: 20px;
  height: 40vh;
  width: 40vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card-image{
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-name {
  text-align: center;
}

.card-occupation {
  text-align: center;
}

.deletebtn {
  height: 6%;
  width: 18%;
  background-color: red;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}
